@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

body {
  font-family: "FocusGrotesk", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.box-right {
  width: 240px;
  height: 40px;
  border-radius: 1px;
  background-color: black;
  margin-left: 30px;
}

.box-left {
  width: 240px;
  height: 40px;
  border-radius: 1px;
  background-color: black;
  margin-right: 30px;
}

.header-logo-text {
  font-size: 96px;
}

.about-section {
  background-color: #d9d9d9;
}

.about-title {
  font-size: 64px;
}

.about-elements {
  display: flex;
  justify-content: right;
  align-items: center;
}

.about-text {
  text-align: right;
  max-width: 770px;
  font-size: 24px;
}

.about-card {
  display: flex;
  justify-content: space-between;
}

.about-picture {
  margin-top: 100px;
  margin-right: 250px;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: "Read more...";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "Read less...";
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5em;
  color: #666;
  font-size: 0.9em;
  line-height: 2;
}

.footer {
  background-color: #6d6d6d;
  display: flex;
}

.footer-social-icon {
  fill: black;
}
.footer-social-icon:hover, .footer-social-icon:focus {
  fill: white;
}

.footer-social-item:not(:last-child) {
  margin-right: 20px;
}

.footer-social-list {
  display: flex;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts-link {
  font-size: 36px;
  text-align: left;
  color: black;
  fill: black;
}
.footer-contacts-link:hover, .footer-contacts-link:focus {
  fill: white;
  color: white;
}

.footer-contacts {
  text-align: left;
}

.footer-contacts-icon {
  margin-right: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: block;
  display: flex;
}

.header-nav-link {
  font-size: 36px;
  color: black;
}

.gallery-elements {
  display: flex;
  justify-content: left;
  align-items: center;
}

.gallery-title {
  font-size: 64px;
  text-align: center;
}

.gallery-list {
  display: flex;
  justify-content: space-around;
}

.gallery-text {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 300px;
  font-size: 40px;
  color: #686666;
}
.gallery-text:hover, .gallery-text:focus {
  color: chocolate;
}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: FocusGrotesk;
  src: url("../../fonts/FocusGrotesk-Regular.ttf");
}
@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: FocusGrotesk;
  src: url("../../fonts/FocusGrotesk-Bold.ttf");
}
.school-elements {
  display: flex;
  justify-content: right;
  align-items: center;
}

.school-title {
  font-size: 64px;
  text-align: center;
}

.school-card {
  display: flex;
}

.school-text {
  font-size: 64px;
  text-align: left;
}

.school-text-link {
  font-size: 36px;
  color: #686666;
}
.school-text-link:hover, .school-text-link:focus {
  color: chocolate;
}

.hero-main {
  font-size: 96px;
  margin: 0 auto;
  text-align: center;
  max-width: 480px;
}

.hero-section {
  display: block;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */