.hero-container {
  align-items: center;
}
.hero-main {
  font-size: 96px;
  margin: 0 auto;
  text-align: center;
  max-width: 480px;
}

.hero-section {
  display: block;
  justify-content: center;
  height: 400px;
}

.header-background-picture {
  background-image: url(../../images/main-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
