@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: FocusGrotesk;
  src: url("../fonts/FocusGrotesk-Regular.ttf");
}

@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: FocusGrotesk;
  src: url("../fonts/FocusGrotesk-Bold.ttf");
}

// @font-face {
//   font-weight: 300;
//   font-family: Roboto;
//   src: url("../fonts/Roboto-Light.ttf");
// }
