.school-elements {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 190px;
}

.school-title {
  font-size: 64px;
  text-align: center;
}

.school-card {
  display: flex;
  justify-content: space-around;
}

.school-text {
  font-size: 64px;
  text-align: left;
  max-width: 630px;
}

.school-text-link {
  font-size: 36px;
  color: #686666;
  &:hover,
  &:focus {
    color: chocolate;
  }
}

.school-section {
  background-color: #d9d9d9;
}
